@import "./_base.css";

/* FORMS */
form,
label {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

form {
  padding: 1rem 0;
}

label {
  margin: 0.5rem 0;
  font-size: var(--font-size-base);
  color: var(--blue);
}
.fieldset {
  border: none;
  justify-content: space-between;
}
input {
  all: unset;
  height: 2rem;
  /* font-size: var(--font-size-base); */
  border: 2px solid var(--blue);
  border-radius: 2rem;
  margin: 3px 0;
  padding: 3px 1rem;
  background-color: transparent;
}

[type="submit"] {
  font-size: var(--font-size-base);
  align-self: center;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2rem;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.validate_error {
  border: 2px solid red !important;
  background-color: rgb(255, 0, 0, 0.1);
}

.radios {
  display: flex;
  padding-top: 1rem;
}
.radios input {
  all: unset;
  border-radius: 50%;
  border: 2px solid var(--blue);
  width: 1rem;
  height: 1rem;
}
.radios input:checked {
  background-color: white;
}
.radios label {
  margin: 0;
  padding: 0 1rem 0 0.5rem;
}
.placeholder {
  width: 8rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
  padding: 1rem 0;
}
.placeholder-admin {
  width: 10rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  align-self: center;
  padding: 1rem 0;
}

.error-msg {
  padding: 0 0 0 1rem;
  color: red;
}

#image {
  padding: 6px 1rem;
  height: fit-content;
}

#image-signin {
  padding: 6px 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 2.5rem;
}
