@import url("./_base.css");
@import url("./_variables.css");
@import url("./_form.css");

/* TOP */
header,
nav {
  background: transparent;
}
footer {
  color: var(--blue);
}
.header {
  color: var(--yellow);
  font-size: 5rem;
}

.nav {
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 3rem;
  z-index: 1;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.nav-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--blue) !important;
  text-align: center;
}
.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-left {
  text-align: left !important;
}
/* change this  */
.nav a {
  color: red;
}
nav ul,
#homepage ul {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.hide {
  display: none;
}
/* BOTTOM */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: right;
  z-index: 1;
}

.users-title,
.homepage {
  margin-left: 2rem;
}
.admin-title {
  padding: 2rem 0;
}
#admin-page button {
  margin: 1rem 0 0;
}

/* SECTIONS */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
}
.text-white {
  color: white !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-bold {
  font-weight: 700;
}
.text-normal {
  font-weight: 400 !important;
}
.text-red {
  color: red !important;
}
.btn-disable {
  background-color: lightgrey !important;
  cursor: not-allowed;
  color: grey;
  border: none;
}

#deactivate-page,
#logout-page,
#reset-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

#deactivate-page a {
  width: fit-content;
}
#form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.herobanner {
  width: 70%;
}
#login,
#signup-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}
#login-page {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
}

/* ALL CHILDS IN SECTIONS */
#login-page > *,
#signup-page > *,
/* #admin-page > *, */
#deactivate-page > *,
#logout-page > * {
  align-self: center;
}

/* SIGN UP FORM */
#name-group {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* USERS PAGE */
div#users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 2rem;
  max-width: 100%;
}

section#users-page .user {
  border-radius: 5%;
  width: 100%;
  padding: 1rem;
  background-color: var(--blue);
  text-align: center;
}
section#users-page .user p {
  padding: 0.5rem 0 0;
  color: white;
}
/* ADMIN PAGE & DEACTIVATION PAGE & HOMEPAGE */
.admin-wrapper {
  justify-content: flex-start;
  width: 50%;
  height: fit-content;
}
.admin {
  border: 2px solid var(--blue);
  border-radius: 20px;
  width: 100%;
  padding: 1rem 2rem;
}
.info-container {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--blue);
  width: 30%;
  height: 100vh;
  padding: 4rem 3rem 1rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-container p {
  margin: 1rem 0;
}
#deactivate-page > p,
#homepage > p,
#logout-page > p {
  margin: 2rem 0;
}
#deactivate-page > p,
#homepage > p,
#logout-page > p {
  font-size: 20px;
}
/* user page */
#user-page,
#admin-page {
  width: 70%;
  height: 100vh;
  margin: 1.5rem auto 0;
}
.feed {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3%;
  margin: 1rem;
}
.tweet {
  width: 100%;
  height: 6rem;
  border-width: 1px;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
}

.tweet-text {
  text-align: left;
  margin-left: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
}
.tweet-text h1 {
  text-align: left;
  font-size: 1rem;
}
.tweet-post {
  height: 3rem;
  padding: 0.5rem 1rem;
}
.tweet-post img {
  width: 2rem;
  margin-right: 1rem;
}
.tweet-post p {
  color: lightgrey;
  padding: 0;
  margin: auto 0;
  height: fit-content;
}
.profile {
  text-align: center;
}
.profile-wrapper {
  width: 350px;
  background-color: var(--blue);
  border-radius: 8% 8% 0 0;
  margin: 1rem auto;
}
.user-tweet {
  padding: 1rem 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--blue);
}
.user-tweet h3 {
  text-align: left;
  font-size: 1.5rem;
}
.tweet-text p {
  padding-bottom: 0.2rem;
}
.date-time {
  color: gray;
  font-size: 0.7rem;
}
.profile-wrapper h3 {
  padding-bottom: 0.2rem;
}
.profile-wrapper > div {
  color: white;
}
#homepage ul {
  text-align: center;
}

#homepage ul li {
  margin: 1rem 0;
}

#homepage > p {
  margin: 2rem 0 2rem 2rem;
}
/* Settings Page */
.settings-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
  position: relative;
  width: 100%;
}

/* Input*/
.omrs-input-filled {
  padding: 0 !important;
}
.omrs-input-filled > input {
  border: 2px solid var(--blue);
  border-radius: 2rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
  outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  line-height: 147.6%;
  height: 1rem;
  color: var(--blue);
  transition: top 0.2s;
}

.omrs-input-filled > input:hover {
  border-color: white;
}

.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
  top: -0.1rem;
  /* font-size: 1rem; */
  margin-bottom: 32px;
  background-color: var(--yellow);
}
.omrs-input-label-update {
  background-color: white !important;
}
